## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv('/Users/Brian/Rutgers_Bootcamp/Module_6/World_Weather_Analysis/Weather_Database/WeatherPy_Database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Type
0,0,Tiksi,RU,71.6872,128.8694,42.69,74,100,9.17,overcast clouds
1,1,Praya,CV,14.9215,-23.5087,72.14,88,75,11.50,broken clouds
2,2,Mezen,RU,65.8522,44.2400,52.75,71,31,5.73,scattered clouds
3,3,Atuona,PF,-9.8000,-139.0333,77.34,78,59,21.27,light rain
4,4,Norman Wells,CA,65.2820,-126.8329,55.44,58,40,11.50,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Type
3,3,Atuona,PF,-9.8000,-139.0333,77.34,78,59,21.27,light rain
6,6,Pacifica,US,37.6138,-122.4869,81.82,70,0,24.16,haze
7,7,Kalmunai,LK,7.4167,81.8167,81.55,77,100,2.68,overcast clouds
8,8,Hambantota,LK,6.1241,81.1185,82.18,75,100,17.78,overcast clouds
9,9,Hilo,US,19.7297,-155.0900,83.28,69,40,8.05,scattered clouds
13,13,Atar,MR,20.5169,-13.0499,91.85,32,9,4.41,clear sky
14,14,Dingle,PH,10.9995,122.6711,87.19,65,30,1.32,scattered clouds
18,18,Hamilton,US,39.1834,-84.5333,84.99,77,0,6.91,clear sky
21,21,Georgetown,MY,5.4112,100.3354,84.13,83,20,2.30,few clouds
22,22,Ugoofaaru,MV,5.6667,73.0000,82.69,75,30,11.18,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.isnull().sum()

City_ID         0
City            0
Country         0
Lat             0
Lng             0
Max Temp        0
Humidity        0
Cloudiness      0
Wind Speed      0
Weather Type    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Type
3,3,Atuona,PF,-9.8000,-139.0333,77.34,78,59,21.27,light rain
6,6,Pacifica,US,37.6138,-122.4869,81.82,70,0,24.16,haze
7,7,Kalmunai,LK,7.4167,81.8167,81.55,77,100,2.68,overcast clouds
8,8,Hambantota,LK,6.1241,81.1185,82.18,75,100,17.78,overcast clouds
9,9,Hilo,US,19.7297,-155.0900,83.28,69,40,8.05,scattered clouds
13,13,Atar,MR,20.5169,-13.0499,91.85,32,9,4.41,clear sky
14,14,Dingle,PH,10.9995,122.6711,87.19,65,30,1.32,scattered clouds
18,18,Hamilton,US,39.1834,-84.5333,84.99,77,0,6.91,clear sky
21,21,Georgetown,MY,5.4112,100.3354,84.13,83,20,2.30,few clouds
22,22,Ugoofaaru,MV,5.6667,73.0000,82.69,75,30,11.18,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Type", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Type", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

,City,Country,Max Temp,Weather Type,Lat,Lng,Hotel Name
3,Atuona,PF,77.34,light rain,-9.8000,-139.0333,
6,Pacifica,US,81.82,haze,37.6138,-122.4869,
7,Kalmunai,LK,81.55,overcast clouds,7.4167,81.8167,
8,Hambantota,LK,82.18,overcast clouds,6.1241,81.1185,
9,Hilo,US,83.28,scattered clouds,19.7297,-155.0900,
13,Atar,MR,91.85,clear sky,20.5169,-13.0499,
14,Dingle,PH,87.19,scattered clouds,10.9995,122.6711,
18,Hamilton,US,84.99,clear sky,39.1834,-84.5333,
21,Georgetown,MY,84.13,few clouds,5.4112,100.3354,
22,Ugoofaaru,MV,82.69,scattered clouds,5.6667,73.0000,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
        
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except (IndexError):
        print("Unknown hotel. Skipping...")

Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...
Unknown hotel. Skipping...

In [9]:
# 7. Drop the rows where there is no Hotel Name.

clean_df = hotel_df.replace('', np.nan, regex=True)
clean_hotel_df = clean_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Type,Lat,Lng,Hotel Name
3,Atuona,PF,77.34,light rain,-9.8000,-139.0333,Villa Enata
6,Pacifica,US,81.82,haze,37.6138,-122.4869,"Pacifica Lighthouse, Trademark Collection by W..."
7,Kalmunai,LK,81.55,overcast clouds,7.4167,81.8167,VS Villa
8,Hambantota,LK,82.18,overcast clouds,6.1241,81.1185,Bungalow 63
9,Hilo,US,83.28,scattered clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
13,Atar,MR,91.85,clear sky,20.5169,-13.0499,Oumou Elghoura
14,Dingle,PH,87.19,scattered clouds,10.9995,122.6711,SEGAYA PROPERTY
18,Hamilton,US,84.99,clear sky,39.1834,-84.5333,Six Acres Bed & Breakfast
21,Georgetown,MY,84.13,few clouds,5.4112,100.3354,Cititel Penang
22,Ugoofaaru,MV,82.69,scattered clouds,5.6667,73.0000,Ungoofaaru Inn

In [10]:
# 8a. Create the output File (CSV)
output_data_file = '../Vacation_Search/WeatherPy_Vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))